<section class="align--center pt3 pb3">
  <p class="h3 mb2">Have an idea?</p>
  <a
    href="https://twitter.com/intent/tweet?screen_name=FeflinProfile&url=https%3A%2F%2Ffeflin.com&text=Hi!%20I%20think%20that...&ref_src=twsrc%5Etfw"
    data-text="Hi! I think that..."
    data-related="FeflinProfile"
    data-show-count="false"
    class="btn btn--outline"
    >Mention us on Twitter!</a
  >
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
  <a href="mailto:viaparrot@gmail.com" class="btn btn--default">Email us →</a>
  <p class="small mt1 text--gray">I will be happy to help as best I can.</p>
</section>
