<footer class="mt2 pb3 align--center">
  <ul class="no-bullets list--inline mb0">
    <li class="m1 block-on-mobile">
      <a href="https://twitter.com/FeflinProfile" class="link"
        ><img
          class="icon"
          src="{{ url_for('static',filename='img/twitter.svg') }}"
          alt="Twitter"
        />
        Twitter</a
      >
    </li>
  </ul>
  Feflin. A Modernism Brand ©
  <script>
    document.write(new Date().getFullYear());
  </script>
  | All rights reserved.
  <br /><br />Show off what you believe in.
</footer>
